[Desktop Entry]
Name=Audio Settings
Comment=Change audio settings with Wiremix
Exec=alacritty --class=Wiremix --title=Wiremix -e wiremix
Icon=audio-speakers
Type=Application
Terminal=false