[Desktop Entry]
Version=1.0
Name=Gemini
Comment=Gemini
Exec=uwsm app -- chromium --new-window --app="https://gemini.google.com" --name="Gemini" --class="Gemini"
Terminal=false
Type=Application
Icon=Goole-Gemini
StartupNotify=true
