[Desktop Entry]
Version=1.0
Name=Google Meet
Comment=Goole Meet
Exec=uwsm app -- chromium --new-window --ozone-platform=x11 --app="https://meet.google.com" --name="Google Meet" --class="Google Meet"
Terminal=false
Type=Application
Icon=Goole-Meet
StartupNotify=true
