configuration {
  font: "sans-serif 12";
  show-icons: true;
  display-drun: "Launch:";
  modi: "window,drun,combi";
  combi-modi: "window,drun";

  drun {
    parse-hidden-entries: false;
  }
}

window {
  anchor: north;
  location: center;
}